.light {
  --primary-background-100: ;
  --primary-background-200: hsl(209, 50%, 55%);
  --primary-background-300: hsl(209,60%, 83%);

  --secondary-background-100: hsl(209, 73%, 20%);
  --secondary-background-200: ;
  --secondary-background-300: ;

  --primary-font-100: hsl(209, 90%, 91%);
  --primary-font-200: hsl(209, 73%, 20%);
  --primary-font-300: ;

  --secondary-font-100: ;
  --secondary-font-200: ;
  --secondary-font-300: hsl(209, 90%, 91%);
}

.dark {
  --primary-background-100: ;
  --primary-background-200: rgb(17, 18, 70);
  --primary-background-300: rgb(12, 12, 39);

  --secondary-background-100: rgb(255, 187, 0);
  --secondary-background-200: ;
  --secondary-background-300: ;

  --primary-font-100: rgb(12, 12, 39);
  --primary-font-200: rgb(175, 175, 175);
  --primary-font-300: ;

  --secondary-font-100: ;
  --secondary-font-200: ;
  --secondary-font-300: rgb(12, 12, 39);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: var(--primary-background-300);
  min-height: 100vh;
}

section {
  background-color: var(--primary-background-300);
  padding: 2rem;
  color: var(--primary-font-200);
}

section header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

article {
  border-radius: .8rem;
  background-color: var(--primary-background-200);
  color: var(--primary-font-200);
  font-weight: 700;
  margin-bottom: .5rem;

  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 0 3rem;
}

article * {
  width: 100%;
}

.article_content {
  background-color: var(--primary-background-100);
  border: 1px solid var(--primary-background-200);
  font-weight: 400;
}

select {
  background-color: var(--secondary-background-100);
  color: var(--primary-font-100);
  font-weight: 600;
  padding: 0.2rem;
  border: none;
  border-radius: .15rem;
}

/* NavBar */

a {
  display: block;
  background-color: var(--secondary-background-100);
  border: none;
  border-radius: .2rem;
  padding: .5rem;
  transform: scale(1);
  transition: 50ms ease-in;
  text-decoration: none;
  font-weight: 600;
  color:var(--secondary-font-300);
  width: auto;
  max-width: fit-content;
  text-align: center;
}

a:hover {
  transform: scale(1.2);
}

.nav_bar {
  background-color: var(--primary-background-200);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.button_group {
  display: flex;

  gap: .4rem;
}

/* Invoice Form */

.invoice_form {
  padding: 2rem;
  color: var(--primary-font-200);
}

fieldset {
  border: none;
  padding: 1rem;
}

legend {
  font-weight: 800;
}

label {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

/* Toggle */

.toggle_div {
  position: relative;
  align-self: center;
  width: 2rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: var(--secondary-background-100);
}

.toggle_switch {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--primary-background-300);
  border: solid .15rem var(--primary-font-200);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(0%);
  left: 0%;
  transition: ease-in 100ms;
}

.toggle_switch:hover {
  cursor: pointer;
}

.toggle_on {
  left: 100%;
  transform: translateY(-50%) translateX(-100%);
  transition: ease-in 100ms;
}