.App {
  background-color: rgb(12, 12, 39);
  min-height: 100vh;
}

section {
  background-color: rgb(12, 12, 39);
  padding: 2rem;
  color: rgb(175, 175, 175);
}

section header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

article {
  border-radius: .8rem;
  background-color: rgb(17, 18, 70);
  color: rgb(175, 175, 175);
  font-weight: 700;
  margin-bottom: .5rem;

  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 0 3rem;
}

article * {
  width: 100%;
}

.list_showmore {
  width: 3rem;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
}

/* NavBar */

.nav_bar {
  background-color: rgb(17, 18, 70);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: rgb(175, 175, 175);
  border: none;
  border-radius: .2rem;
  padding: .5rem;
  transform: scale(1);
  transition: 50ms ease-in;
}

button:hover {
  transform: scale(1.2);
}

.button_group {
  display: flex;

  gap: .4rem;
}

/* Invoice Form */

.invoice_form {
  padding: 2rem;
  color: rgb(175, 175, 175);
}

fieldset {
  border: none;
  padding: 1rem;
}

legend {
  font-weight: 800;
}

label {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}